.nuevoEgreso__bodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  /* gap: 50px; */
}

.nuevoegreso_columna {
  border-left: 1px solid var(--DividerBorder);
  padding: 0px 25px;
}

#nuevoegreso_columna1 {
  border-left: 0px;
  padding-left: 0px;
}

.info-box {
  margin-bottom: 30px;
}
