a {
  text-decoration: none;
}

.categoriaMovimiento__boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  width: 200px;
  height: 200px;
}
.categoriaMovimiento__boton:hover {
  box-shadow: 0 0 10px rgba(78, 155, 251, 0.5);
}

.categoriaMovimiento__icono {
  color: var(--Tittles);
  font-size: 60px;
  margin-bottom: 20px;
}
.categoriaMovimiento__boton:hover .categoriaMovimiento__icono {
  color: var(--Blue);
}

.categoriaMovimiento__label {
  color: var(--Tittles);
  font-size: 16px;
}
.categoriaMovimiento__boton:hover .categoriaMovimiento__label {
  color: var(--Blue);
}
