.movimientosMainContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
    background-color: var(--White);
    padding: 30px;
}
@media screen and (max-width: 1000px) {
    .movimientosMainContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}


.headerContainer {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--DividerBorder);
    padding-bottom: 20px;
}

.pageTittle {
    font-size: 3rem;
    font-weight: 500;
    color: var( --MutedTittle);
}


.bodyContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
@media screen and (max-width: 1000px) {
    .bodyContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}



/* Celular */
@media screen and (max-width: 800px) {
    .box-padding {
        padding: 15px;
    }
}


/* Tablet */
